/* how to align pictures*/
/* how to separate text so that it doesn't cross the entire page */
.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
header {
    color:royalblue;
    text-align:center;
    line-height:1;
    padding:150;
    border:1px solid royalblue;
}
footer {
    text-align:center;
    line-height:1;
    font-variant:small-caps;
}
footer a {
    font-size:15;
    text-align:center;
    font-variant:small-caps;
}
body {
    background-color:aliceblue; color:darkslateblue;
    font-family:'Franklin Gothic', sans-serif;
    font-size:17px;
    margin:100px;
    border:4px double royalblue;
    padding:50px;
}
p {
    line-height:1.5;
}
a {
    color:blue;
    text-decoration:none;
    font-variant:small-caps;
}
a:hover {
    text-decoration:underline;
}
p.normal {
    font-variant:normal;
}
p.small {
    font-variant:small-caps;
}
h1 h2 h3 h4 h5 {
    color:rgb(85, 123, 237);
    font-family:"Poiret One", sans-serif;
}
h1 {
    font-family:"Poiret One", sans-serif;
    font-size:55px;
    font-weight:900;
}
h2 {
    color:rgb(85, 123, 237);
    font-family:"Poiret One", sans-serif;
    font-size: 45px;
    font-weight:800;
    text-align:center;
}
h3 {
    color:rgb(85, 123, 237);
    font-family: "Poiret One", sans-serif;
    font-size:40px;
    font-weight:700;
}
h4 {
    color:rgb(85, 123, 237);
    font-family:"poiret one", sans-serif;
    font-size:35px;
    font-weight:700;
}
h5 {
    color:rgb(85, 123, 237);
    font-family:"poiret one", sans-serif;
    font-size:30px;
    font-style:italic;
    font-variant:small-caps;
    font-weight:700;
}
.two {
    text-align:center;
}