/* this is a comment */
* {
    box-sizing:border-box;
    background-color:rgb(215, 182, 139);
    line-height:1.5;
    /* text-align:left; */
    /* border:1px dashed red; */
}
.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tony-cereal {
    max-width:300px;
    display:block;
    margin:0 auto;
    color:navy;
    text-align:center;
}
.video{
    max-width:300px;
    height:75px;
    display:block;
    margin:0 auto;
    /* position:fixed; */
    /* top:0; */
    /* left:0; */
}
.audio{
    width:130px;
    height:20px;
    color:navy;
}
.column {
    float: left;
    width: 100%;
    padding:0px;
}
.row::after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width:600px) {
.column {
    width: 100%;
    }
}
.image {
    width:25%;
    padding-right:12px;
    float:left;
}
figcaption {
    font-size:15px;
    text-align:left;
    line-height:1;
    margin:0;
    padding:0;
}
.banner {
    height:225px;
    width:auto;
    color:rgb(215, 182, 139);
    text-align:center;
    padding: 15px;
    background-size:cover;
    background-position:center;
}
.header {
    /* height:225px; */
    width:auto;
    color:rgb(215, 182, 139);
    text-align:center;
    /* padding: 15px; */
    /* background-size:cover; */
    /* background-position:center; */
    /* border:4px solid midnightblue; */
}
.topnav {
    overflow:hidden;
    width:auto;
    position:relative;
    padding-top:12px;
    padding-bottom:35px;
    background-image:url("./images/vintage-wallpaper.webp");
    background-size:cover;
    background-position:center;
 }
.topnav a {
    display:inline-block;
    text-align:center;
    text-decoration:none;
    font-size:15px;
    color:midnightblue;
    text-align:center;
    font-variant:small-caps;
    background-color:rgb(215, 182, 139)
}
.topnav a:hover {
    text-decoration:underline;
    color:azure;
}
.topnav p {
    background-image:url("./images/vintage-wallpaper.webp");
    background-size:cover;
    background-position:center;
    padding-top:12px;
}
.title {
    color:rgb(215, 182, 139);
    font-family:"Poiret One", sans-serif;
    font-size:60px;
    font-weight:900;
    padding-bottom:0px;
    margin:0px;
    background-image:url("./images/vintage-wallpaper.webp");
    background-size:cover;
    background-position:center;
}
.footer {
    text-align:center;
    color:rgb(215, 182, 139);
    line-height:1;
    padding:35px;
    background-image:url("./images/vintage-wallpaper.webp");
    background-size:cover;
    background-position:center;
}
.bottomnav a {
    display:inline-block;
    color:midnightblue;
    text-align:center;
    text-decoration:none;
    background-color:rgb(215, 182, 139);
} 
.bottomnav a:hover {
    text-decoration:underline;
    color:azure;
}
.bottomnav p {
    color:midnightblue;
    background-color:rgb(215, 182, 139);
    padding-top:12px;
}
.footer a {
    font-size:15px;
    color:midnightblue;
    text-align:center;
    font-variant:small-caps;
    background-color:rgb(215, 182, 139)
}
.footer p {
    text-align:center;
    background-image:url("./images/vintage-wallpaper.webp");
    background-size:cover;
    background-position:center;
}
.more-info {
    text-align:center;
    border:15px solid midnightblue;
    padding:35px;
}
.more-info p {
    text-align:center;
}
.more-info a {
    text-align:center;
}
.topnav button{
    border:2px ridge rgb(215, 182, 139);
    background-color:rgb(215, 182, 139);
    color:midnightblue;
    border-radius:35px;
}
.bottomnav button{
    border:2px ridge rgb(215, 182, 139);
    color:midnightblue;
    background-color:rgb(215, 182, 139);
    border-radius:35px;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:17px;
    color:navy;
    margin:75px;
    padding:50px;
    border:4px double midnightblue;
}
p {
    line-height:1.5;
    text-align:left;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:7px;
}
a {
    color:blue;
    text-decoration:none;
    font-variant:small-caps;
}
a:hover {
    text-decoration:underline;
    color:purple;
}
p.normal {
    font-variant:normal;
}
p.small {
    font-variant:small-caps;
}
ol {
    text-align:left;
    margin:10px 10px
}
ol li {
    color:midnightblue;
    margin:10px
}
.ol1 {
    padding:5px;
    margin-left:5px;
}
ul {
    text-align:left;
    margin:7px 7px 17px;
    padding:0% 6%;
}
h2 {
    color:midnightblue;
    font-family:"Poiret One", sans-serif;
    font-size: 50px;
    font-weight:800;
    text-align:center;
    text-decoration:underline;
    margin-top:25px;
    margin-bottom:10px;
}
h3 {
    color:midnightblue;
    font-family: "Poiret One", sans-serif;
    font-size:40px;
    font-weight:800;
    text-align:left;
    padding-bottom:0px;
    margin-top:25px;
    margin-bottom:10px;
}
h4 {
    color:midnightblue;
    font-family:"poiret one", sans-serif;
    font-size:35px;
    text-align:left;
    font-weight:800;
    font-variant:small-caps;
    padding-bottom:0px;
    margin-top:25px;
    margin-bottom:10px;
}
h5 {
    color:midnightblue;
    font-family:"poiret one", sans-serif;
    font-size:30px;
    text-align:left;
    font-style:italic;
    font-weight:800;
    padding-bottom:0px;
    margin-top:25px;
    margin-bottom:10px;
}
